{% assign grouped = include.talks.grouped %}
{% for group in include.talks.groups %}
{% if grouped %}
<h3>{{ group.label }}</h3>
{% endif %}
<ul>
    {% for talk in group.talks %}
    <li><b>{{ talk.title }}</b>.<br/>
        {% for occurrence in talk.occurrences %}
        {{ occurrence.date }} - {{ occurrence.at }}, {{ occurrence.where }}.<br/>
        {% endfor %}
        {{ talk.note }}
        {% if talk.url or talk.source %}
        <div class="btn-group">
            <button type="button" class="btn {{site.link_btn_color}} dropdown-toggle {{site.link_btn_size}}" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                files <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% if talk.url %}
                <li><a href="documents/talks/{{ talk.url }}">slides</a></li>
                {% endif %}
                {% if talk.source %}
                <li><a href="{{ talk.source }}">source</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endfor %}
