{% assign grouped = include.talks.grouped %}
{% for group in include.talks.groups %}
{% if grouped %}
<h3>{{ group.label }}</h3>
{% endif %}
<ul>
    {% for talk in group.talks %}
    <li><b>{{ talk.title }}</b>.<br/>
    {% for occurrence in talk.occurrences %}
            {{ occurrence.date }} - {{ occurrence.at }}, {{ occurrence.where }}.<br/>
    {% endfor %}
    {{ talk.note }}
    {% if talk.url %}
        <a href="documents/talks/{{ talk.url }}">get slides</a>
    {% endif %}
    {% if talk.url and talk.source %}
    -
    {% endif %}
    {% if talk.source %}
        <a href="{{ talk.source }}">get source</a>
    {% endif %}
    {{ include.suffix }}
    </li>
    {% endfor %}
</ul>
{% endfor %}
