<p class="text-justify">My research activities address <strong>software engineering</strong>, with a focus on issues related to composition (the software system is made up of several sub-parts), distribution (there are sub-parts that execute on different deployment units) and interaction (there are sub-parts that synchronize or communicate in one way or another). I am particularly interested in the <strong>behavioral aspects</strong> of software. These emerge when software systems, as a whole or at the level of some of their sub-parts, have a state that conditions the legal ordering of operations within them or communication with them.</p>

<p class="text-justify">The integration of <strong>formal methods</strong> into the development process is one of the features of the solutions I propose for the design, verification, adaptation, automatic composition and testing of software. The aim is twofold: to increase the confidence in software and to enable the automation and tooling of development processes. More recently I have become interested in the <strong>empirical aspects of software engineering</strong>, using graph algorithms and linear programming for quality analysis and maintenance of software dependencies in relation to large graphs derived from software eco-systems.</p>

<p class="text-justify">The link to <strong>application domains</strong> and <strong>international standards</strong> is recurrent in my work. In the past I have worked on the UML notation and then on the WS-BPEL Web services orchestration language. I am currently interested in business process modelling and the BPMN notation. <strong>Tools</strong> (or demonstration prototypes) are another feature of my work.</p>

<p class="text-justify">All this work has been achieved or is being done in collaboration with <a href="https://sparql.dblp.org/xDZ1Mm?exec=true">colleagues</a>, including PhD students I had the honor to (co-)advise: <a href="https://www.linkedin.com/in/lina-bentakouk/">Lina Bentakouk</a>, <a href="https://www.linkedin.com/in/nhnghia/">Huu-Nghia Nguyen</a>, <a href="https://www.linkedin.com/in/rania-khefifi/">Rania Khefifi</a>, <a href="https://www.linkedin.com/in/sara-houhou-phd-3678b0107/">Sara Houhou</a>, and <a href="https://www.linkedin.com/in/damien-jaime-221750153/">Damien Jaime</a>.</p>

<p class="text-justify">For more information, please take a look at my publications, below.</p>

<!-- OLD (pre-2025)
<p class="text-justify">My research activities address <strong>software engineering</strong> with issues related to
    composition (the software system is made up of several sub-units),
    distribution (there are sub-units that execute on different deployment units), and
    interaction (there are sub-units that synchronize or communicate in some way).
    Further, I have a specific focus on the <strong>behavioural aspects</strong> of software.
    These emerge when systems or their sub-units have a state, conditioning the legal ordering of
    operations within them or communications between them.
</p>
<p class="text-justify">I am also particularly interested in the use and the integration of <strong>formal
    methods</strong> within the software development processes.
    This includes activities such as design, verification, adaptation, automatic composition, and testing.
    The objective is twofold:
    first, to increase the confidence one may have in a software system and,
    second, to foster automation and tool-support of the development processes.
</p>
<p class="text-justify">Applicative domains and relation to standards are important in my work.
    This includes <strong>business processes</strong> and <strong>service-based applications</strong>, e.g., with
    the formal verification and the analysis of the evolution of business processes modelled using BPMN,
    the automatic generation of service compositions and service adaptors models and corresponding WS-BPEL implementations from high-level requirements,
    and
    the testing of service orchestrations and service choreographies.
</p>
-->
