---
layout: default
title: contact
rank: 8
---

<div class="starter-template">
    <h1>How to contact me?</h1>
    <p class="lead">Depending on your concerns,
        please select one of the two contacts below.
    </p>
</div>

<div class="row">

    <div class="col-md-6">
        {% include contact.html title="Research | Recherche" contact=site.contacts.research %}
    </div>

    <div class="col-md-6">
        {% include contact.html title="Teaching | Enseignement" contact=site.contacts.teaching %}
    </div>

</div>