---
---
<div class="text-justify">
    {{reference}}
</div>

{% if entry.note %}
<div>
    <em>{{ entry.note }}</em>
</div>
{% endif %}

<div>
    {% if entry.doi %}
    <span><a href="{{ entry.doi | prepend: 'http://doi.org/' }}">doi</a></span>
    {% endif %}
    {% if entry.hal_id %}
    <span><a href="{{ entry.hal_id | prepend: 'http://hal.inria.fr/' }}">hal</a></span>
    {% endif %}
    {% if entry.optlink %}
    <span><a href="{{ entry.optlink }}">link</a></span>
    {% endif %}
</div>
<div>
    {% if entry.pdf %}
    <span><a href="{{ entry.pdf }}">pdf</a></span>
    {% endif %}
</div>

<!--
<div><pre>{{ entry.bibtex }}</pre></div>
-->